  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<div id="tampon">
  <h1 >A propos de nous</h1>
  <p>
  Début 2017, le projet Eagle-Eye a été labellisé par le NSA, Nation Security Agency.
    Ce label, attribué seulement à quatre autres ...
    <br><br>
 </p>

</div>


<div id="spacer"></div>


<div class="container" id="add_font">
  <div class="row">
    <h1>Mot du directeur</h1>
<div id="spacer"></div>
    <div class="col-sm-8">
      <md-card>
      <p>
        « J'étais en réunion quand j'ai reçu une alerte “visage inconnu vu”, en l'occurrence celui d'un intrus. J'ai tout de suite appelé la police, qui a attrapé le cambrioleur tandis qu'il était dans l'escalier. Grâce aux images de ma caméra Welcome qui ont servi de preuve, il a été arrêté. J'apprécie cette sérénité retrouvée ; je sais maintenant que Welcome m'alertera immédiatement en cas de présence étrangère. »


      </p>
      </md-card>
    </div>
