#custom{
    width:95%;
}

#profile-picture{
    width:42%;
    height:200px;
    float:left;
    margin-right:13px;
}


p{ 
    font-size:11pt;
 }

 .boldme{
     font-size:13pt;
     color:#111b63;
 }